---
layout: default
---
<div class="post">
  <h1>Tag: {{ page.tag }}</h1>
  <ul>
    <!-- {% for post in site.tags[page.tag] %}
    <li><a href="/solutions/{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a> ({{ post.date | date_to_string }})<br>
      {{ post.description }}
    </li>
    {% endfor %} -->
    {% for post in site.posts %}
      {% if post.tags contains page.tag-name %}
      <li><a href="/solutions/{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a> ({{ post.date | date_to_string }})<br>
        {{ post.description }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<hr>
{% include archive.html %}
